.sk-logo {
  list-style: none;
  color: #fff;
}

.sk-logo a:hover {
  color: #fff;
  text-decoration: none;
}

.sk-logo a:focus {
  color: #fff;
  text-decoration: none;
}

.sk-logo a:active {
  color: #fff;
  text-decoration: none;
}

.btn-selfkey {
  border-radius: 4px;
  background-color: #1e7287;
  font-family: 'Proxima Nova','Helvetica Neue', Helvetica, Arial, sans-serif!important;
  font-size: 18px;
}

.btn-selfkey:hover {
  color: #fff;
}

.btn-selfkey:focus {
  color: #fff;
}

.lws_wrapper {
    position: relative;
/*    padding-bottom: 56.25%; /* 16:9 */
    padding-bottom: 82%;
    padding-top: 25px;
    height: 0;
}
.lws_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
  background-color: #e5e5e5);
  color: rgba(0,0,0,0.6)!important;
}

.modal-content p {
  color: rgba(0,0,0,0.6)!important;
}